Package: kpython
Version: 1.0
Architecture: amd64
Maintainer: François-Denis Gonthier <fdgonthier@lostwebsite.net>
Installed-Size: 238
Depends: python, python-support (>= 0.90.0), perl, python-pygresql, python3-postgresql, patch
Section: teambox-internal
Priority: optional
Description: Teambox Python libraries
 This package contains standard Python code that we happen to use in several
 Teambox programs.
Python-Version: 2.7
